.enwuirey:hover{color: #D9CA6D;background-color: #483F3A;border: 1px solid #D9CA6D ;text-decoration: none;}
.enwuirey{background-Color:#D9CA6D;color:#645457;text-decoration: none;border: 1px solid #645457 ;}
.enwuireyy{background-Color:#D9CA6D;color:#645457;border: 1px solid #D9CA6D }
.enwuireyy:hover{color: #D9CA6D;background-color: #483F3A;border: 1px solid #08703f ;}

.dragin{box-shadow: 0px 2px 10px;}
/* .seemore{background-Color:#e4e2d9;color:#645457;border: 1px solid blue} */
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 

}

/* .App {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  } */